{% extends "base.html" %}

{% block title %}{{ post.title }} | Артем Кудинов{% endblock %}
{% block description %}{{ post.summary }}{% endblock %}
{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.summary }}{% endblock %}

{% block content %}
    <a href="{% url 'blog:list' %}" class="back">← Все статьи</a>

    <article class="article">
        <time datetime="{{ post.published_at|date:'Y-m-d' }}">{{ post.published_at|date:"j E Y" }}</time>
                {% if post.drawing %}
            <figure class="project-drawing article-drawing">
                {% with "drawings/"|add:post.drawing|add:".html" as drawing_template %}
                    {% include drawing_template %}
                {% endwith %}
            </figure>
        {% endif %}

        <div class="article-body">
            {{ post.body_html }}
        </div>
    </article>
{% endblock %}
